@media only screen and (max-width:1360px){
    .welcome-area .right-bg{
        height: 394px!important;
    }  
}
@media only screen and (max-width:1024px) {
    .welcome-area .right-bg{
        height: 392px!important;
    }       
    .website-features-small-item {
        height: auto!important
    }
    .page .page-bottom .about .about-image {
        height: auto!important
    }
    footer {
        padding-left: 0
    }
    footer .footer-nav li a span {
        font-size: 10px;
        float: none
    }
    footer .footer-nav li a i {
        margin-right: 12px;
        font-size: 11px
    }
    footer h5 {
        margin-bottom: 17px!important;
        font-size: 15px
    }
    .website-about-img {
        height: auto!important
    }
}

@media only screen and (max-width:768px) {
    .website-features-small-item {
        height: auto!important
    }
    .website-left-heading .section-title {
        height: auto!important
    }
    .header-area .main-nav .menu-trigger {
        right: 30px;
        left: inherit
    }
    .btn-home {
        width: 13%
    }
    footer {
        padding-left: 0
    }
    footer .footer-nav li a span {
        font-size: 10px;
        float: none
    }
    footer .footer-nav li a i {
        margin-right: 2px;
        font-size: 11px
    }
    footer h5 {
        margin-bottom: 17px!important;
        font-size: 15px
    }
    .main-nav .navbar-nav .nav-item a {
        color: #3b566e!important
    }
    .main-nav .navbar-collapse {
        background-color: #fff!important;
        padding-left: 20px
    }
    .main-nav .navbar-collapse ul li a {
        color: #3b566e!important
    }
    .divide-menu {
        float: none;
        padding: 0!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    .header-white .main-nav .nav-item .contact-btn {
        border: none!important
    }
    .main-nav .navbar-nav {
        height: auto;
        max-height: 500px;
        overflow-x: hidden
    }
    .contact_modal {
        display: none!important
    }
    .contact-btn {
        padding: 0!important
    }
    .dropdown-menu {
        border: none!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    .product-left-heading .section-title {
        height: auto!important
    }
    .website-about-img {
        height: auto!important
    }
}

@media only screen and (max-width:567px) {
    .contact_modal {
        display: none!important
    }
    .contact-btn {
        padding: 0!important
    }
    .dropdown-menu {
        border: none!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    footer h5 {
        margin-bottom: 8px!important;
        margin-top: 14px
    }
    .main-nav .navbar-nav .nav-item a {
        color: #3b566e!important
    }
    .main-nav .navbar-collapse {
        background-color: #fff!important;
        padding-left: 20px
    }
    .main-nav .navbar-collapse ul li a {
        color: #3b566e!important
    }
    .divide-menu {
        float: none;
        padding: 0!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    .header-white .main-nav .nav-item .contact-btn {
        border: none!important
    }
    .main-nav .navbar-nav {
        height: auto;
        max-height: 500px;
        overflow-x: hidden
    }
    .page .page-bottom .features-small-item {
        height: auto
    }
    .website-about-img {
        height: auto
    }
    .page .page-bottom p {
        padding-top: 48px
    }
    .btn-home i {
        margin-left: 30px!important
    }
    .bottom_contact p {
        width: 100%!important
    }
    .page .page-bottom .about .about-image,
    .website-features-small-item {
        height: auto
    }
    .page .page-bottom .product_about .product-about-text {
        width: auto;
        position: relative;
        top: 320px
    }
    .page .page-bottom .product_about .product-about-image {
        height: auto;
        width: 100%
    }
    .wireframe-features-small-item {
        height: auto!important
    }
    .page .page-bottom .product_about .product-about-text h2 {
        margin-bottom: 0!important
    }
    .page .page-bottom .augmented-about-image .img-1,
    .page .page-bottom .augmented-about-image .img-2 {
        width: 100%
    }
    .page .page-bottom .augmented-about-image .img-2 {
        bottom: -28px
    }
    .website-left-heading .section-title {
        padding-top: 0
    }
    .website-left-heading .section-title {
        font-size: 25px
    }
    .about-res p {
        padding-top: 0!important
    }
    .bottom_contact {
        padding: 12px!important
    }
    .about-features-small-item-res p {
        padding-top: 10px!important
    }
    footer .footer-nav li a span {
        font-size: 14px
    }
    footer .footer-nav li a i {
        margin-right: 12px;
        font-size: 14px
    }
    footer {
        padding-left: 40px
    }
    .product-left-heading .section-title,
    .website-left-heading .section-title {
        margin-bottom: 15px;
        line-height: 32px
    }
    .website-features-small-item p,
    .wireframe-features-small-item p {
        padding-top: 0!important
    }
    .btn-home i {
        margin-left: 21px!important
    }
    .page .page-bottom .augmented-about-image .img-1 {
        top: -22px
    }
    .block-res {
        top: 340px!important
    }
    .center-text p {
        padding-top: 0!important
    }
    .block-res-new {
        display: none
    }
    .website-left-text p {
        padding-top: 10px!important
    }
    .features-small-item {
        height: 350px
    }
    .page .page-bottom .wireframe-features-small-item p {
        font-size: 16px!important
    }
    .website-left-text ul li {
        font-size: 16px
    }
}

@media only screen and (max-width:375px) {
    .contact_modal {
        display: none!important
    }
    .contact-btn {
        padding: 0!important
    }
    .dropdown-menu {
        border: none!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    footer h5 {
        margin-bottom: 8px!important;
        margin-top: 14px
    }
    .main-nav .navbar-nav .nav-item a {
        color: #3b566e!important
    }
    .main-nav .navbar-collapse {
        background-color: #fff!important;
        padding-left: 20px
    }
    .main-nav .navbar-collapse ul li a {
        color: #3b566e!important
    }
    .divide-menu {
        float: none;
        padding: 0!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    .header-white .main-nav .nav-item .contact-btn {
        border: none!important
    }
    .main-nav .navbar-nav {
        height: auto;
        max-height: 500px;
        overflow-x: hidden
    }
    .page .page-bottom .features-small-item {
        height: auto
    }
    .website-about-img {
        height: auto
    }
    .page .page-bottom p {
        padding-top: 48px
    }
    .btn-home i {
        margin-left: 23px!important
    }
    .bottom_contact p {
        width: 100%!important
    }
    .page .page-bottom .about .about-image,
    .website-features-small-item {
        height: auto
    }
    .page .page-bottom .product_about .product-about-text {
        width: auto;
        position: relative;
        top: 320px
    }
    .page .page-bottom .product_about .product-about-image {
        height: auto;
        width: 100%
    }
    .wireframe-features-small-item {
        height: auto!important
    }
    .page .page-bottom .product_about .product-about-text h2 {
        margin-bottom: 0!important
    }
    .page .page-bottom .augmented-about-image .img-1,
    .page .page-bottom .augmented-about-image .img-2 {
        width: 100%
    }
    .page .page-bottom .augmented-about-image .img-2 {
        bottom: -28px
    }
    .website-left-heading .section-title {
        padding-top: 0
    }
    .website-left-heading .section-title {
        font-size: 25px
    }
    .about-res p {
        padding-top: 0!important
    }
    .bottom_contact {
        padding: 12px!important
    }
    .about-features-small-item-res p {
        padding-top: 10px!important
    }
    .blog-singlee {
        width: 100%
    }
    .website-features-small-item p,
    .wireframe-features-small-item p {
        padding-top: 0!important
    }
    .btn-home i {
        margin-left: 18px!important
    }
}

@media only screen and (max-width:360px) {
    .contact_modal {
        display: none!important
    }
    .contact-btn {
        padding: 0!important
    }
    .dropdown-menu {
        border: none!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    footer h5 {
        margin-bottom: 8px!important;
        margin-top: 14px
    }
    .main-nav .navbar-nav .nav-item a {
        color: #3b566e!important
    }
    .main-nav .navbar-collapse {
        background-color: #fff!important;
        padding-left: 20px
    }
    .main-nav .navbar-collapse ul li a {
        color: #3b566e!important
    }
    .divide-menu {
        float: none;
        padding: 0!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    .header-white .main-nav .nav-item .contact-btn {
        border: none!important
    }
    .main-nav .navbar-nav {
        height: auto;
        max-height: 500px;
        overflow-x: hidden
    }
    .page .page-bottom .features-small-item {
        height: auto
    }
    .website-about-img {
        height: auto
    }
    .page .page-bottom p {
        padding-top: 48px
    }
    .btn-home i {
        margin-left: 23px!important
    }
    .bottom_contact p {
        width: 100%!important
    }
    .page .page-bottom .about .about-image,
    .website-features-small-item {
        height: auto
    }
    .page .page-bottom .product_about .product-about-text {
        width: auto;
        position: relative;
        top: 320px
    }
    .page .page-bottom .product_about .product-about-image {
        height: auto;
        width: 100%
    }
    .wireframe-features-small-item {
        height: auto!important
    }
    .page .page-bottom .product_about .product-about-text h2 {
        margin-bottom: 0!important
    }
    .page .page-bottom .augmented-about-image .img-1,
    .page .page-bottom .augmented-about-image .img-2 {
        width: 100%
    }
    .page .page-bottom .augmented-about-image .img-2 {
        bottom: -28px
    }
    .website-left-heading .section-title {
        padding-top: 0
    }
    .website-left-heading .section-title {
        font-size: 25px
    }
    .about-res p {
        padding-top: 0!important
    }
    .bottom_contact {
        padding: 12px!important
    }
    .about-features-small-item-res p {
        padding-top: 10px!important
    }
}

@media only screen and (max-width:320px) {
    .contact_modal {
        display: none!important
    }
    .contact-btn {
        padding: 0!important
    }
    .dropdown-menu {
        border: none!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    footer h5 {
        margin-bottom: 8px!important;
        margin-top: 14px
    }
    .main-nav .navbar-nav .nav-item a {
        color: #3b566e!important
    }
    .main-nav .navbar-collapse {
        background-color: #fff!important;
        padding-left: 20px
    }
    .main-nav .navbar-collapse ul li a {
        color: #3b566e!important
    }
    .divide-menu {
        float: none;
        padding: 0!important
    }
    .scrolled .main-nav ul li a.contact-btn {
        border: none!important
    }
    .header-white .main-nav .nav-item .contact-btn {
        border: none!important
    }
    .main-nav .navbar-nav {
        height: auto;
        max-height: 500px;
        overflow-x: hidden
    }
    .btn-home i {
        margin-left: 16px!important
    }
}